{%- for quest_list in site.data.quest_lists -%}
	{%- if quest_list[0] == page.quest_list -%}
		{%- for quest_i in quest_list[1] -%}
			{%- if quest_i.name.original == include.quest_name -%}
				{% unless include.id and quest_i.id != include.id %}
					{%- assign quest = quest_i -%}
					{%- break -%}
				{% endunless %}
			{%- endif -%}
		{%- endfor -%}
		{%- break -%}
	{%- endif -%}
{%- endfor %}

<li class="quest-{{ quest.type }}">
	<p>Ур. {{ quest.level }} — <strong>{% if include.name -%}
		{{ include.name }}
	{%- else -%}
		{{ quest.name.original }}
		{%- if quest.name.translated -%}
			</strong> / <strong>{{ quest.name.translated }}
		{%- endif -%}
	{%- endif %}</strong> — Название (<a href="{{ quest.url.journal }}">Журнал</a> / <a href="{{ quest.url.quest_name }}">Не журнал</a>) — <a href="{{ quest.url.quest }}">Квест</a></p>
	{% if quest.cutscenes %}
	<p class="cutscene_list">
		{%- for cutscene in quest.cutscenes %}
		<a href="{{ cutscene.url }}">{{ cutscene.name }}</a> - {{ cutscene.start }}–{{ cutscene.end }}{% unless forloop.last %}<br />{% endunless %}
		{%- endfor %}
	</p>
	{%- endif %}

	{% if
		quest.actors or 
		quest.enemies or
		quest.eobjects or
		quest.fates or
		quest.quest_items
	-%}
	<details>
		<summary>
			<p>NPC, предметы и т.д.</p>
		</summary>

		{% if quest.actors -%}
		<p>NPC: {% for actor in quest.actors -%}
				{%- if actor.url -%}
					{%- if actor.name -%}
						<a href="{{ actor.url }}">{{ actor.name }}</a>
					{%- else -%}
						<a href="{{ actor.url }}">{{ actor.id }}</a>
					{%- endif -%}
				{%- else -%}
					{{ actor.id }}
				{%- endif -%}
				{%- unless forloop.last %}, {% endunless -%}
			{%- endfor -%}
		</p>
		{%- endif %}
		{% if quest.enemies -%}
		<p>Вражеские NPC: {% for enemy in quest.enemies -%}
				{%- if enemy.url -%}
					{%- if enemy.name -%}
						<a href="{{ enemy.url }}">{{ enemy.name }}</a>
					{%- else -%}
						<a href="{{ enemy.url }}">{{ enemy.id }}</a>
					{%- endif -%}
				{%- else -%}
					{{ enemy.id }}
				{%- endif -%}
				{%- unless forloop.last %}, {% endunless -%}
			{%- endfor -%}
		</p>
		{%- endif %}
		{% if quest.fates -%}
		<p>ЗОНЫ: {% for fate in quest.fates -%}
				{%- if fate.url -%}
					<a href="{{ fate.url }}">{{ fate.name }}</a>
				{%- else -%}
					{{ fate.id }}
				{%- endif -%}
				{%- unless forloop.last %}, {% endunless -%}
			{%- endfor -%}
		</p>
		{%- endif %}
		{% if quest.quest_items -%}
		<p>Предметы: {% for quest_item in quest.quest_items -%}
				{%- if quest_item.url -%}
					{%- if quest_item.name -%}
						<a href="{{ quest_item.url }}">{{ quest_item.name }}</a> (<a href="{{ quest_item.desc_url }}">Описание</a>)
					{%- else -%}
						<a href="{{ quest_item.url }}">{{ quest_item.id }}</a>
					{%- endif -%}
				{%- else -%}
					{{ quest_item.id }}
				{%- endif -%}
				{%- unless forloop.last %}, {% endunless -%}
			{%- endfor -%}
		</p>
		{%- endif %}
		{% if quest.eobjects -%}
		<p>Надписи на земле: {% for eobject in quest.eobjects -%}
				{%- if eobject.url -%}
					{%- if eobject.name -%}
						<a href="{{ eobject.url }}">{{ eobject.name }}</a>
					{%- else -%}
						<a href="{{ eobject.url }}">{{ eobject.id }}</a>
					{%- endif -%}
				{%- else -%}
					{{ eobject.id }}
				{%- endif -%}
				{%- unless forloop.last %}, {% endunless -%}
			{%- endfor -%}
		</p>
		{%- endif %}
	</details>
	{%- endif %}
</li>
